$color-blue: #3F51B5;
$color-light-blue: #D4D7ED;
$color-cadet-blue: #EAF1FF;
$color-dark-cadet-blue: #808BD0;
$color-black: #000000;
$color-red: #DA100B;
$color-grey: #9C9C9C;
$color-light-grey: #EBF0F3;
$color-dark-grey: #272727;
$color-green: #11933B;
$color-white: #FFFFFF;

$color-background-main: #000000;
$color-text-primary: $color-white;
$color-text-secondary: $color-grey;
