// Dark (original, blue)
@import 'all';

$color-background-main: #000000;
$color-text-primary: $color-white;
$color-text-secondary: $color-grey;
$color-background-subscription: $color-dark-grey;
$box-shadow-color: rgba(255, 255, 255, 0.12);
$theme-color-primary: $color-blue;
$theme-svg-filter: invert(26%) sepia(69%) saturate(1470%) hue-rotate(213deg) brightness(93%) contrast(92%);

$ic-dropdown-arrow: 'ic_dropdown_arrow_reverse.png'
