// Light (original, blue)
@import 'all';

$color-background-main: #FFFFFF;
$color-text-primary: $color-black;
$color-text-secondary: $color-grey;
$color-background-subscription: $color-cadet-blue;
$box-shadow-color: rgba(0, 0, 0, 0.12);
$theme-color-primary: $color-blue;
$theme-svg-filter: invert(26%) sepia(69%) saturate(1470%) hue-rotate(213deg) brightness(93%) contrast(92%);

$ic-dropdown-arrow: 'ic_dropdown_arrow.png'
