.source-path {
  margin-top: 12px;
  color: $color-grey;
}

// Show Post
.post-wrapper {
  width: 100%;
  
  .full-image-wrapper {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .post-info-wrapper {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    
    .user-info-wrapper {
      display: flex;
      text-align: center;
      
      .user-info {
        margin-left: 8px;
        
        span {
          text-align: left;
          display: block;
          font-size: 14px;
          color: $color-text-secondary;
        }
      }
    }
      
    p.post-status {
      margin: 0;
      padding: 6px 16px;
      border-radius: 50px;
      background-color: #3F51B5;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 200;
    }
  }
  
  .post-info-panel {
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    position: relative;
    height: 48px;
    
    .info-actions {
      display: flex;
    }
  }
  
  .post-text {
    margin: 20px 0;
    
    .post-title {
      font-size: 16px;
      font-weight: 400;
      color: $color-text-primary;
    }
    
    .post-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $color-text-secondary;
    }
  }
}

// Images
.post-images-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 600px;
  
  .image-card {
    display: flex;
    align-items: center;
    width: 48%;
    margin: 1%;
    height: 220px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-align: center;
    }
  }
  
  .image-card:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid $color-white;
   }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .content-comment-wrapper { display: block; }
}
