.source-path {
  margin-top: 12px;
  color: $color-grey;
}

// Show Post
.post-wrapper {
  width: 100%;
  
  .post-info-wrapper {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    
    .user-info-wrapper {
      display: flex;
      text-align: center;
      
      .user-info {
        margin-left: 8px;
        span {
          text-align: left;
          display: block;
          font-size: 14px;
        }
      }
    }
      
    p.post-status {
      margin: 0;
      padding: 6px 16px;
      border-radius: 50px;
      background-color: #3F51B5;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 200;
    }
  }
  
  .post-info-panel {
    margin-top: 16px;
    position: relative;
    height: 48px;
  }
  
  .post-text {
    margin: 20px 0;
    
    .post-title {
      font-size: 16px;
      font-weight: 400;
    }
    
    .post-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      opacity: 80%;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .content-comment-wrapper { display: block; }
}
