packages:
  yum:
    autoconf: []
    automake: []
    bzip2: []
    bzip2-devel: []
    cmake3: []
    freetype-devel: []
    gcc: []
    gcc-c++: []
    git: []
    libtool: []
    make: []
    mercurial: []
    pkgconfig: []
    zlib-devel: []
    ImageMagick: []
    ImageMagick-devel: []
    
commands:
  01-wget:
    command: "sudo wget -O /usr/local/src/ffmpeg.tar.xz https://ffmpeg.org/releases/ffmpeg-4.3.tar.bz2"
    
  02-mkdir:
    command: "if [ ! -d /usr/local/src/ffmpeg ] ; then sudo mkdir -p /usr/local/src/ffmpeg; fi"
    
  03-tar:
    command: "sudo tar xvf /usr/local/src/ffmpeg.tar.xz -C /usr/local/src/ffmpeg"
  
  04-install-ffmpeg:
    cwd: /usr/local/src/ffmpeg/ffmpeg-4.3
    command: ./configure --prefix=/usr --disable-static --enable-shared --disable-avdevice --disable-doc --disable-htmlpages --disable-manpages --disable-programs --disable-encoders --disable-muxers --enable-swscale --disable-yasm --enable-protocol=file --enable-protocol=http --enable-iconv && make -j4 && sudo make install
  
  05-get-ffmpegthumbnailer:
    cwd: /usr/local/src
    command: "if [ ! -d /usr/local/src/ffmpegthumbnailer ] ; then sudo git clone https://github.com/dirkvdb/ffmpegthumbnailer.git; fi"
    
  06-cmake-ffmpegthumbnailer:
    cwd: /usr/local/src/ffmpegthumbnailer
    command: PKG_CONFIG_PATH=/usr/lib/pkgconfig sudo -E cmake3 -DCMAKE_BUILD_TYPE=Release -DENABLE_GIO=ON -DENABLE_THUMBNAILER=ON .
    
  07-make-ffmpegthumbnailer:
    cwd: /usr/local/src/ffmpegthumbnailer
    command: make && sudo make install
