= direct_upload_form_for @image_uploader do |f|
  = f.file_field :image, accept: 'image/png, image/jpeg, image/jpg', class: 'upload-user-asset'
  = f.label :image, class: 'upload-user-asset-button' do
    = image_pack_tag('media/images/buttons/button_add_image.png')
