.calendar {
  flex: 1 auto;
  width: 200px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background: $color-background-main;
  padding: 20px;
  box-shadow: 0px 3px 14px $box-shadow-color;
  border-radius: 4px;
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    
    .year {
      font-weight: 600;
      margin-left: 10px;
    }
    
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      transition-duration: .2s;
      position: relative;
      
      &:hover {
        background: #eee;
      }
    }
  }
  
  .days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: $color-text-secondary;
    margin-bottom: 15px;
    
    span {
      width: 30px;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
  }
  
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    button{
      position: relative;
      cursor: auto;
      outline: 0;
      border: 0;
      background: transparent;
      color: $color-text-primary;
      font-size: 16px;
      justify-self: center;
      align-self: center;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin: 2px;
      transition-duration: .2s;
      
      &.today {
        background-color: $color-light-blue;
      }
      
      &.active:before {
        position: absolute;
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $color-blue;
        bottom: 0;
        left: 50%;
        margin-left: -2.5px;
      }
      
      &:first-child {
        // grid-column:3;
      }
      
      &:hover {
        //background: #eee;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "lg")) {
  .calendar { width: 100%; }
}
