.events-wrapper {
  margin-left: 340px;
  padding-bottom: 100px;
  position: absolute;
  top: 0;
  
  .event-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 16px;
    align-items: center;
    width: 284px;
    min-height: 157px;
    
    background: $color-white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    .body {
      position: relative;
      padding: 16px 20px 0px 20px;
      height: 120px;
      
      p {
        margin-bottom: 0px;
      }
      
      .event-title {
        font-size: 16px;
        
      }
      
      .event-description {
        font-size: 14px;
        color: $color-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      
      .destroy-event {
        position: absolute;
        top: 8px;
        right: 8px;
        // Change filter to real image
        filter: invert(53%) sepia(69%) saturate(1428%) hue-rotate(210deg) brightness(91%) contrast(87%);
      }
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 6px 20px 8px 20px;
      height: 36px;
      border-top: 1px solid $color-light-grey;
       img { margin-right: 4px; }
      
      .date, .time {
        display: flex;
        align-items:center;
      }
    }
  }
}
