.events-wrapper {
  margin-left: 16px;
  width: 600px;
  flex: 2 auto;
  
  .event-card {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 16px;
    align-items: center;
    width: calc(100%* 1/3 - 16px);
    min-height: 157px;
    
    background: $color-white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    .body {
      position: relative;
      padding: 16px 20px 0px 20px;
      height: 120px;
      
      p {
        margin-bottom: 0px;
      }
      
      .event-title {
        font-size: 16px;
        
      }
      
      .event-description {
        font-size: 14px;
        color: $color-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      
      .destroy-event {
        position: absolute;
        top: 8px;
        right: 8px;
        // Change filter to real image
        filter: invert(53%) sepia(69%) saturate(1428%) hue-rotate(210deg) brightness(91%) contrast(87%);
      }
    }
    
    .footer {
      padding: 6px 20px 8px 20px;
      height: 36px;
      border-top: 1px solid $color-light-grey;
      
      .footer-content {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        img { margin-right: 4px; }
       
       .date, .time {
         font-size: 12px;
         display: flex;
         align-items: center;
         white-space: nowrap;
       }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "lg")) {
  .events-wrapper { width: 100%; margin-left: 0; margin-top: 16px; }
  .events-wrapper .event-card { width: calc(100%* 1/2 - 16px); }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .events-wrapper .event-card { width: 100% }
}
