.content-group-wrapper {
  padding-left: 10%;
  width: 50%;
  height: 100%;
  // border: solid 1px green;
  
  .group-scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
  
    .group-wrapper {
      width: 100%;
      display: flex;
      padding: 0px 0px 0px 18px;
      align-items: center;
      
      &.active {
        background-color: $color-cadet-blue;
      }
      
      img {
        height: 20px;
        width: 20px;
      }
      
      .main-content {
        display: flex;
        padding: 18px 0;
        margin-left: 18px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-light-grey;
        
        .title-wrapper {
          display: flex;
          
          p {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            &.active { font-weight: 700; }
          }
          
          a.new-element {
            font-size: 14px;
            font-weight: 700;
            color: $color-blue;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        
        .counter-dropdown-wrapper {
          span.counter {
            color: $color-grey
          }
          
          img.dropdown {
            width: 12px;
            height: auto;
            margin: 0 18px;
          }
        }
      }
      
      &.n1 { padding-left: 40px }
      &.n2 { padding-left: 80px }
      &.n3 { padding-left: 120px }
      &.n4 { padding-left: 160px }
    }
    
    .group-search-wrapper {
      .main {
        p.parent {}
        p.title {}
      }
      
      a.subscription {
        
      }
    }
  }
}
