.content-group-wrapper {
  padding-left: 10%;
  width: 50%;
  height: 100%;
  // border: solid 1px green;
  
  .group-scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
    
    ul { padding-left: 18px; }
    
    // Checkboxes
    .group-wrapper ul { display: none; }
    .group-wrapper input:checked ~ ul { display: block; }
    .group-wrapper input[type=checkbox] { display: none; }
  
    .group-wrapper {
      width: 100%;
      display: block;
      padding: 0px 0px 0px 18px;
      align-items: center;
      
      .main-content {
        margin: auto;
        display: flex;
        padding: 18px 0;
        
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-light-grey;
        
        &.active {
          background-color: $color-cadet-blue;
          .title-wrapper p { font-weight: 900;}
        }
        
        
        .title-wrapper {
          display: flex;
          
          img {
            height: 20px;
            width: 20px;
          }
          
          p {
            margin: 0;
            padding-left: 12px;
            font-size: 14px;
            font-weight: 500;
          }
          
          a.new-element {
            padding-left: 12px;
            font-size: 14px;
            font-weight: 700;
            color: $color-blue;
            cursor: pointer;
          }
        }
        
        .counter-dropdown-wrapper {
          span.counter {
            color: $color-grey;
            margin-right: 18px
          }
          
          label {
            cursor: pointer;
            content: url("../images/icons/ic_dropdown_arrow.png");
            width: 12px;
            height: auto;
            margin: 0 18px 0 0;
          }
        }
      }
    }
    
    .group-search-wrapper {
      .main {
        p.parent {}
        p.title {}
      }
      
      a.subscription {
        
      }
    }
  }
}
