.content-comment-wrapper.content-stream
  = render 'streams/show', stream: @stream
  - if @stream.status == 'in-progress'
    = render '/streams/show_comments', comments: @stream_comments, new_comment: @new_comment
