// Material field
.material-field {
  margin: 12px 0px;
  label { margin: 0; }
  input { padding: 0; }
  span.select2-container { display: block; }
  span.select2-container .select2-selection__rendered { padding-left: 0;}
  span.select2-selection {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-light-grey;
  }
  
  &.dropdown { margin: 0 0 24px 0; }
}

form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-light-grey;
  padding: 0.375rem 0.7rem;
}

form select.form-control { padding: 0.375rem 0rem; }

// Input placeholder color and size Chrome, Firefox, Opera, Safari 10.1+
.form-control::placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input placeholder color and size Internet Explorer 10-11
.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input icons format
.input-group .input-group-prepend .input-group-text,
.input-group .input-group-append .input-group-text {
  border: none;
  border-bottom: 1px solid $color-light-grey;
  border-radius: 0;
  background-color: $color-white;
  padding: 0.375rem 0.25rem 0.375rem 0rem;
  
  &.submit-button {
    padding: 0;
  }
}

// Input field configure
input {
  outline: none !important;
  box-shadow: none !important;
}

// Input with number type
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome, Safari, Edge, Opera */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

// Custom Radiobox
input[type=radio] {
  margin-right: 6px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color-blue;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-blue;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid $color-white;
  box-shadow: 0 0 0 2px $color-blue;
}

// Section
.section-wrapper {
  h1.section-title {
    font-size: 14px;
    font-weight: normal;
    color: $color-grey;
    padding: 10px 20px;
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 14px;
  }
  
  .section-element {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 14px;
    
    .section-element-lable {
      font-size: 16px;
      font-weight: normal;
    }
  }
}

// Checkbox
.form-check label {
  color: $color-black;
  font-size: 16px;
}

// Selector
select {
  outline: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

// Errors
.global-errors { color: $color-red; }
.local-errors {
  margin: 2px 0px;
  color: $color-red;
}

// Buttons
//// Submit button
input[type="submit"].send-message-button {
  background-image: url('../images/icons/ic_send_message.png');
  background-repeat: no-repeat;
  padding: 0rem 0.75rem;
}

//// Floating action button +
input[type="file"].upload-user-asset {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label.upload-user-asset-button {
  cursor: pointer;
}

a.btn.floating {
  right: 0;
  bottom: -10%;
  position: absolute;
  padding: 12px 24px;
  border-radius: 28px;
}

// Bootstrap Dropdowns
.dropdown-submenu { position: relative; }
.dropdown-submenu> a:after {
  content: url("../images/icons/ic_dropdown_arrow.png");
  float: right;
  transform: rotate(270deg);
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.dropdown-submenu:hover>.dropdown-menu { display: block; }

// Search
.search-wrapper {
  height: 600px;
  
  .search-results-wrapper {
    width: 100%;
    height: 95%;
    overflow: auto;
    
    .search-element-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid $color-light-grey;
      
      .text-content {
        h5 {
          font-size: 12px;
          color: $color-grey;
        }
        
        span {
          font-size: 14px;
          color: $color-black;
        }
      }
      
      .action-content {
        display: flex;
        align-items: center;
      }
      
      .action-content p { margin: 0 }
      
      .action-content .btn {
        height: 36px;
        padding: 0.5rem 1.6rem !important;
        line-height: 1.2;
      }
      
      .action-content .btn.btn-outline-primary {
        padding: 0.5rem 0.75rem !important;
      }
      
      .action-content .btn:focus {
        outline:none;
        box-shadow: none;
      }
    }
  }
}
