// Material field
.material-field {
  margin: 12px 0px;
  label { margin: 0; }
  input { padding: 0; }
  span.select2-container { display: block; }
  span.select2-container .select2-selection__rendered { padding-left: 0;}
  span.select2-selection {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-light-grey;
  }
  
  &.dropdown { margin: 0 0 24px 0; }
}

form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-light-grey;
  padding: 0.375rem 0.7rem;
}

form select.form-control { padding: 0.375rem 0rem; }

// Input placeholder color and size Chrome, Firefox, Opera, Safari 10.1+
.form-control::placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input placeholder color and size Internet Explorer 10-11
.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input icons format
.input-group .input-group-prepend .input-group-text,
.input-group .input-group-append .input-group-text {
  border: none;
  border-bottom: 1px solid $color-light-grey;
  border-radius: 0;
  background-color: $color-white;
  padding: 0.375rem 0.25rem 0.375rem 0rem;
  
  &.submit-button {
    padding: 0;
  }
}

// Input field configure
input {
  outline: none !important;
  box-shadow: none !important;
}

// Input with number type
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome, Safari, Edge, Opera */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

// Custom Radiobox
input[type=radio] {
  margin-right: 6px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color-blue;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-blue;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid $color-white;
  box-shadow: 0 0 0 2px $color-blue;
}

// Checkbox
.form-check label {
  color: $color-black;
  font-size: 16px;
}

// Selector
select {
  outline: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

// Errors
.global-errors { color: $color-red; }
.local-errors {
  margin: 2px 0px;
  color: $color-red;
}

// Buttons
// # Submit button
input[type="submit"].send-message-button {
  background-image: url('../images/icons/ic_send_message.png');
  background-repeat: no-repeat;
  padding: 0rem 0.75rem;
}
