// Roboto-Black
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

// Roboto-Black
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

// Roboto-Medium
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

// Roboto-Regular
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

// Roboto-Light
@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

// Time New Roman normal
@font-face {
  font-family: "times-new-roman";
  src: url('../fonts/times_new_roman/Times-new-roman.ttf');
  font-weight: 500;
  font-style: normal;
}

// Time New Roman bold
@font-face {
  font-family: "times-new-roman";
  src: url('../fonts/times_new_roman/Times-new-roman-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

// Time New Roman bold
@font-face {
  font-family: "times-new-roman";
  src: url('../fonts/times_new_roman/Times-new-roman-italic.ttf');
  font-weight: 500;
  font-style: italic;
}

// Broadway normal
@font-face {
  font-family: "broadway";
  src: url('../fonts/broadway/Broadway-regular.ttf');
  font-weight: 500;
  font-style: normal;
}

// Broadway bold
@font-face {
  font-family: "broadway";
  src: url('../fonts/broadway/Broadway-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

// Broadway italic
@font-face {
  font-family: "broadway";
  src: url('../fonts/broadway/Broadway-italic.ttf');
  font-weight: 500;
  font-style: italic;
}

// Vivaldi normal
@font-face {
  font-family: "vivaldi";
  src: url('../fonts/vivaldi/Vivaldi.ttf');
  font-weight: 500;
  font-style: normal;
}

// Vivaldi italic
@font-face {
  font-family: "vivaldi";
  src: url('../fonts/vivaldi/Vivaldi-italic.ttf');
  font-weight: 500;
  font-style: italic;
}
