// Panel with Lit, View, Comment icons
.info-panel, .post-info-panel, .stream-info-panel {
  display: inline-flex;
  align-items: center;
  position: absolute;
  height: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 16px;
  z-index: 1;
  
  &.on-approve { display: none; }
  
  .info-panel-value-wrapper {
    cursor: pointer;
    display: inline-flex;
    width: auto;
    margin-right: 16px;
    
    &.pointer-disable {
      cursor: default;
    }
  }
  
  .info-panel-value-wrapper span.info-panel-value {
    margin-left: 4px;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    
    &.color-black {
      color: $color-text-primary;
    }
  }
  
  // Link block for info-panel
  .comment-link-icon {
    line-height: 1;
  }
}

// Icons
i.ic {
  display: inline-block;
  height: 20px;
  width: 20px;
}

i.ic-button {
  height: 32px;
  width: 32px;
}

.m-left-5 {
  margin-left: 5px;
}

/* Lit */
i.ic.lit:after {
  content: url('../images/icons/ic_lit.png');
}

i.ic.lit.reverse:after {
  content: url('../images/icons/ic_lit_reverse.png');
}

i.ic.lit.active:after {
  content: url('../images/icons/ic_lit_active.png');
}

/* View */
i.ic.view:after {
  content: url('../images/icons/ic_view.png');
}

i.ic.view.reverse:after {
  content: url('../images/icons/ic_view_reverse.png');
}

i.ic.view.active:after {
  content: url('../images/icons/ic_view_active.png');
}

/* Comment */
i.ic.comment:after {
  content: url('../images/icons/ic_comment.png');
}

i.ic.comment.reverse:after {
  content: url('../images/icons/ic_comment_reverse.png');
}
 
i.ic.comment.active:after {
  content: url('../images/icons/ic_comment_active.png');
}

i.ic.comment.active.reverse:after {
  content: url('../images/icons/ic_comment_active_reverse.png');
}

i.ic.review:after {
  content: url('../images/icons/ic_review.png');
}

i.ic.review.active:after {
  content: url('../images/icons/ic_review_done.png');
}

// Share
i.ic.share:after {
  content: url('../images/icons/ic_share.svg');
}

i.ic.share.reverse:after {
  content: url('../images/icons/ic_share_reverse.svg');
}

// Translate
i.ic.delete.reverse:after {
  content: url('../images/icons/ic_translate_reverse.svg');
}

// Delete
i.ic.delete.reverse:after {
  content: url('../images/icons/ic_delete_reverse.svg');
}

/* Chat */
i.ic-button.call-end:after {
  content: url('../images/icons/chat_calls/ic_call_end.png');
}

i.ic-button.video.on:after {
  content: url('../images/icons/chat_calls/ic_video_on.png');
}

i.ic-button.video.off:after {
  content: url('../images/icons/chat_calls/ic_video_off.png');
}

i.ic-button.volume.on:after {
  content: url('../images/icons/chat_calls/ic_volume_on.png');
}

i.ic-button.volume.off:after {
  content: url('../images/icons/chat_calls/ic_volume_off.png');
}

i.ic-button.microphone.on:after {
  content: url('../images/icons/chat_calls/ic_microphone_on.png');
}

i.ic-button.microphone.off:after {
  content: url('../images/icons/chat_calls/ic_microphone_off.png');
}
