// Profile image
.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $color-light-grey;
  object-fit: cover;
}

// Full Article, Post image
.url-full-image {
  width: 100%;
  border-radius: 4px;
}
