// Modal Buttons
.modal button.close {
  outline: none !important;
  box-shadow: none !important;
}

.modal .btn {
  font-size: 16px !important;
  padding: 0.75rem 0.75rem !important;
}

#show-password-icon {
  cursor: pointer;
  opacity: 0.4;
}

// Modal size
@media (min-width: 992px) {
  .modal > .modal-lg, .modal-xl { max-width: 496px; }
}

// Modal Header
.modal-content .modal-header {
  padding: 24px;
  border-bottom: none;
}

.modal-dialog .modal-content {
  border: none;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

// Modal Body
.modal-dialog .modal-content .modal-body {
  padding: 0px 24px;
}

.modal-dialog .modal-content .modal-body .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-grey;
  padding: 0.375rem 0.7rem;
  
}

// Lable format
.modal-dialog .modal-content .modal-body {
  font-size: 14px;
  color: $color-grey;
}

// Material field
.modal-dialog .modal-content .modal-body .material-field {
  margin: 12px 0px;
  label { margin: 0; }
  input { padding: 0; }
  span.select2-container { display: block; }
  span.select2-container .select2-selection__rendered { padding-left: 0;}
  span.select2-selection {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-grey;
  }
  
  &.dropdown { margin: 0 0 24px 0; }
}

span.flag-text  { margin-left: 10px !important; }

// Input placeholder color and size Chrome, Firefox, Opera, Safari 10.1+
.modal-dialog .modal-content .modal-body .form-control::placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input placeholder color and size Internet Explorer 10-11
.modal-dialog .modal-content .modal-body .form-control:-ms-input-placeholder {
  font-size: 14px;
  color: $color-grey;
}

// Input icons format
.modal-dialog .modal-content .modal-body .input-group-text {
  border: none;
  border-bottom: 1px solid $color-grey;
  border-radius: 0;
  background-color: $color-white;
  padding: 0.375rem 0.25rem 0.375rem 0rem;
}

// Input field configure
.modal input {
  outline: none !important;
  box-shadow: none !important;
}

// Input with number type
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome, Safari, Edge, Opera */
}

.modal input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

// Checkbox
.modal .form-check label {
  color: $color-black;
  font-size: 16px;
}

// Selector
.modal select {
  outline: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

// Modal Footer
.modal-content .modal-footer {
  padding: 24px;
  border-top: none;
}

.modal-content .modal-footer span {
  color: $color-grey;
  font-size: 14px;
 }
 
.modal .actions { padding: 16px 0px 0px 0px; }

// Errors
.modal-content .global-errors { color: $color-red; }
.modal-content .local-errors {
  margin: 2px 0px;
  color: $color-red;
}

// Step view
.modal .step-wrapper { display: block; }
.modal .step {
  width: 72px;
  height: 6px;
  border-radius: 8px;
  background-color: $color-blue;
  display: inline-block;
  margin-right: 12px;
  
  &.next { background-color: $color-grey; }
}

// Banner image
.banner-wrapper {
  height: 194px
}

#sign_up_update_user_banner_picture {
  visibility: hidden;
  height: 0px;
}

.banner-image-mask {
  width: 100%;
  height: 194px;
  background: $color-light-blue;
  position: relative;
}

#banner-image {
  height: 194px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}

.icon-add-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Profile image
.profile-wrapper {
  height: 72px;
  margin: 24px 0px;
}

.profile-image-mask {
  height: 72px;
  width: 72px;
  background: $color-light-blue;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.icon-add-profile {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#profile-image {
  height: 72px;
  width: 72px;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

#sign_up_update_user_profile_picture {
  display: none;
}
