.navbar {
  padding: 16px 0px !important;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $color-light-grey;
}

.navbar .navbar-collapse {
  padding-left: 30px !important;
}

.navbar .navbar-nav li.nav-item {
  padding-right: 30px !important;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0 !important; }
.navbar-light .navbar-nav .nav-link { color: $color-black !important; }
.navbar-light .navbar-nav .active > .nav-link { color: $color-blue !important; }

.navbar .btn {
  padding: 0.375rem 2.25rem !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.25px;
 }

.navbar .btn.btn-link { padding: 0.375rem 1.25rem !important; }
.navbar .btn.btn-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-icon-wrappers {
  justify-content: center;
  height: 20px;
  width: 20px;
  display: inline-flex;
  padding: 2px 18px;
  
  &.search-icon {
    border-right: solid 1px $color-light-grey;
    padding-right: 24px;
    margin-right: 6px;
  }
}
