.navbar {
  padding: 16px 0px !important;
  border-bottom: 1px solid $color-grey;
}

.navbar .navbar-collapse {
  padding-left: 30px !important;
}

.navbar .navbar-nav li.nav-item {
  padding-right: 32px !important;
}
