/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  top: 4px;
  
  &.news {
    margin-top: 10px;
    margin: 0 24px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

label.switch {
  margin: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: $color-grey;
  background-color: $color-blue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  // border: 3px solid $color-grey;
  border: 3px solid $color-blue;
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  border-color: $color-blue;
}

/* Rounded sliders */
.slider.round {
  border-radius: 8px;
}

.slider.round:before {
  border-radius: 50%;
}
