.chat-icon-mask {
  margin-top: 16px;
  position: relative;
  width: 52px;
  height: 52px;
  background: $color-white;
  border-radius: 50%;
  border: 2px solid $color-blue;
  position: relative;
  cursor: pointer;
  
  .chat-icon-image {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
    border-radius: 50%;
  }
  
  .icon-add-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
