@import './chat_assets';
@import './chat_audio_call';
@import './chat_message';
@import './chat_input';
@import './chat_video_call';
@import './members_list';
@import './control_panel';
@import './icon_uploader';

.chat-wrapper {
  position: relative;
  margin-top: 24px;
  height: 85vh;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  display: flex;
  
  // Chats list
  .chat-objects-wrapper {
    min-width: 300px;
    max-width: 300px;
    overflow-y: scroll;
    
    .chat-element {
      padding: 16px 0 0 0;
      display: flex;
      text-decoration: none;
      
      .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 15px;
      }
      
      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid $color-light-grey;
        // Content in one line
        overflow: hidden;
        white-space: nowrap;
        
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
          .title {
            width: 70%;
            font-size: 16px;
            white-space: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
            
          .date {
            font-size: 12px;
            color: $color-grey;
            white-space: normal;
          }
        }
        
        .message {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;
          
          .icon {
            margin-right: 6px;
            height: 18px;
            width: auto;
            
            img { display: flex; height: 100%; }
          }
          
          .text {
            word-break: break-all;
            width: 90%;
            font-size: 14px;
            color: $color-dark-cadet-blue;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          
          .unread-messages-count {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            width: 18px;
            background-color: $color-blue;
            border-radius: 100%;
            color: $color-white;
            font-size: 10px;
            
            &.no-values {
              span { display: none }
            }
            
            &.no-messages { display: none }
          }
        }
      }
      
    }
    
    .chat-element:hover { background: $color-light-grey; }
  }
  
  // Chat board with messages
  .chat-board-wrapper {
    border-left: 1px solid $color-light-grey;
    width: 100%;
    
    .no-chat-info {
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      
      span {
        text-align: center;
        height: 20px;
        color: $color-grey;
        padding: 0 12px;
      }
    }
    
    .chat-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 56px;
      border-bottom: 1px solid $color-light-grey;
      
      .dropdown-toggle::after { display: none !important; }
      
      .main-info {
        display: flex;
        align-items: center;
        height: 100%;
        
        .photo {
          margin-left: 20px;
        }
        
        .title {
          display: flex;
          align-items: center;
          height: 100%;
          word-break: break-all;
          margin-left: 16px;
          font-size: 16px;
          overflow-y: scroll;
          // Hide scroll bar
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        
        .title::-webkit-scrollbar {
          display: none; /*Chrome, Safari and Opera */
        }
      }
      
      .control-info {
        display: flex;
        align-items: center;
        
        .control-element {
          margin: 0 20px 0 0;
        }
      }
    }
    
    .chat-message-board {
      overflow: scroll;
      width: 100%;
      height: calc(100% - (56px + 49px));
    }
  }
  
  // Add Chat button
  .add-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    bottom: 16px;
    background-color: $color-blue;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
    img.plus-with-border {
      height: 20px;
      width: 20px;
      border: 2px solid $color-white;
      padding: 3px;
      border-radius: 50%;
    }
  }
  .add-chat-button:hover { height: 46px; width: 46px; margin-left: 1px; margin-bottom: 1px}
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .chat-wrapper .chat-objects-wrapper { min-width: 150px; }
}
