= direct_upload_form_for @video_uploader do |f|
  = f.file_field :image, accept: 'video/mp4', class: 'upload-user-asset'
  = f.label :image, class: 'upload-user-asset-button' do
    = image_pack_tag('media/images/buttons/button_add_image.png')
