// Main wrapper for 2 section 1-content, 2-comments
.content-comment-wrapper {
  width: 100%;
  display: inline-flex;
  margin-top: 24px;
  
  &.content-post, &.content-stream {
    margin-top: 12px;
  }
}

.comments-wrapper {
  width: 290px;
  margin-left: 24px;
}

.comments-scroll {
  overflow-y: scroll;
  max-height: 600px;
  
  // Hide scroll bar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  .comment-wrapper {
    display: inline-flex;
    width: 290px;
    margin-top: 10px;
    
    &.replied {
      padding: 10px;
      background-color: $color-cadet-blue;
      margin-bottom: 24px;
    }
    
    .comment-image-wrapper {}
    
    .comment-content-wrapper {
      width: 100%;
      position: relative;
      margin-left: 16px;
      padding-bottom: 10px;
      font-weight: 400;
      border-bottom: 1px solid $color-light-grey;
      
      &.replied {
        border-bottom: none;
        padding-bottom: 0;
      }
      
      .comment-user-name {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        max-width: 118px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-text-secondary;
      }
      
      .comment-date {
        margin-top: 4px;
        color: $color-text-secondary;
        font-size: 12px;
        line-height: 16px;
      }
      
      .comment-text {
        color: $color-text-primary;
        font-size: 14px;
        max-width: 200px;
        word-wrap: break-word;
      }
      
      .comment-lit {
        cursor: pointer;
        width: 30px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        
        span {
          margin-bottom: 4px;
          display: block;
          font-size: 14px;
          font-weight: 500;
        }
        
        &.pointer-disable { cursor: default; }
      }
      
      .comment-reply-wrapper {
        display: inline-flex;
        align-items: center;
        
        a.comment-reply {
          font-size: 12px;
        }
      }
    }
  }
  
  .reply-wrapper {
    display: none;
  }
}

.comments-scroll::-webkit-scrollbar {
  display: none; /*Chrome, Safari and Opera */
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .content-comment-wrapper { display: block; }
  .comments-wrapper { margin-left: 0px; width: 100%; }
  .comments-scroll .comment-wrapper { width: 100%; }
}
