// Show Article
.news-article-wrapper {
  width: 100%;
  
  .groups-subscription-wrapper {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .news-info-panel {
    margin-top: 16px;
    position: relative;
    height: 48px;
  }
  
  .news-article-text {
    margin: 20px 0;
    
    .news-article-title {
      font-size: 16px;
      font-weight: 400;
      color: $color-text-primary;
    }
    
    .news-article-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      opacity: 80%;
      color: $color-text-secondary;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .content-comment-wrapper { display: block; }
}
