.sign-up-user-image { display: none; }

// Banner
.user-banner-image {
  height: 194px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}

.banner-wrapper { height: 194px }
.banner-image-mask {
  width: 100%;
  height: 194px;
  background: $color-light-blue;
  position: relative;
  cursor: pointer;
}
.icon-add-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Profile
.user-profile-image {
  height: 72px;
  width: 72px;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

.profile-wrapper {
  height: 72px;
  margin: 24px 0px;
}

.profile-image-mask {
  height: 72px;
  width: 72px;
  background: $color-light-blue;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.icon-add-profile {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
