@import 'buttons';
@import 'password_icon';
@import 'image_upploaders';

// Modal size
@media (min-width: 992px) {
  .modal > .modal-lg, .modal-xl { max-width: 496px; }
}

// Modal Header
.modal-content .modal-header {
  padding: 24px;
  border-bottom: none;
}

.modal-dialog .modal-content {
  border: none;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

// Modal Body
.modal-dialog .modal-content .modal-body {
  padding: 0px 24px;
}

// Lable format
.modal-dialog .modal-content .modal-body {
  font-size: 14px;
  color: $color-grey;
}

// Flag style
span.flag-text  { margin-left: 10px !important; }

// Modal Footer
.modal-content .modal-footer {
  padding: 24px;
  border-top: none;
}

.modal-content .modal-footer span {
  color: $color-grey;
  font-size: 14px;
 }
 
.modal .actions { padding: 16px 0px 0px 0px; }

// Step view
.modal .step-wrapper { display: block; }
.modal .step {
  width: 72px;
  height: 6px;
  border-radius: 8px;
  background-color: $color-blue;
  display: inline-block;
  margin-right: 12px;
  
  &.next { background-color: $color-grey; }
}

// Disable autocomplite field for select2 in Safari browser
.select2-search input::-webkit-contacts-auto-fill-button,
.select2-search input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
