h2 Welcome to Video Chat
span #{@chat_video_room.attributes}
#chat-video-room data-twilio-video-token="#{@chat_video_room_user_token}" data-room-name="#{@chat_video_room.name}"

button#disconect-from-video-chat Leave
button#mute-audio MuteAudio
button#mute-video MuteVideo

#video-chat-local-media

#video-chat-remote-media
