.breaking-news-wraper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 8px 0px;
  width: 100%;
  height: 36px;
  border: 1px solid $color-red;
  background-color: $color-white;
}

.breaking-news-wraper .breaking-news-label {
  flex-shrink: 0;
  height: 100%;
  background-color: $color-red;
  font-size: 16px;
  font-weight: 300;
  color: $color-white;
  padding: 6px 16px;
}

.breaking-news-wraper .breaking-news-text-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.breaking-news-wraper .breaking-news-text-wrapper .breaking-news-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  z-index: 9;
}

.breaking-news-layout .arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $color-red;
}

.tickercontainer li {
  font-size: 16px;
  font-weight: 300;
}
