.news-wrapper {
  margin: 24px 0px;
}

.news-wrapper .news-switcher-title {
  display: inline-block;
  cursor: pointer;

  &.active {
    color: $theme-color-primary;
  }
}

.news-wrapper .news-cards-wrapper {
}

.news-cards-wrapper .news-card:nth-child(4n) {
  margin-right: 0;
}

.news-cards-wrapper .news-card {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
  align-items: center;
  width: calc(100% * (1/4) - 12px);
  min-height: 230px;
}

.news-cards-wrapper .news-image-wrapper {
  position: relative;
  width: 100%;
  height: 167px;
  object-fit: cover;
  text-align: center;
  overflow: hidden;
}

.news-cards-wrapper .news-image-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.news-cards-wrapper img.news-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-cards-wrapper p.news-title {
  margin: 8px 0 0 0;
  color: $color-text-primary;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-cards-wrapper p.news-description {
  margin: 0;
  color: $color-text-secondary;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: map-get($grid-breakpoints, "lg")) {
  .news-cards-wrapper .news-card:nth-child(4n) { margin-right: 16px; }
  .news-cards-wrapper .news-card:nth-child(3n) { margin-right: 0px; }
  .news-cards-wrapper .news-card {
    width: calc(100% * (1/3) - 10.5px);
    margin-right: 15px;
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .news-cards-wrapper .news-card:nth-child(4n) { margin-right: 0px; }
  .news-cards-wrapper .news-card:nth-child(3n) { margin-right: 0px; }
  .news-cards-wrapper .news-card {
    width: 100%;
    margin-right: 0px;
  }
}
