.news-wrapper {
  
}

.news-wrapper .news-cards-wrapper {
}

.news-cards-wrapper .news-card:nth-child(4n) {
  margin-right: 0;
}

.news-cards-wrapper .news-card {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
  align-items: center;
  width: calc(100% * (1/4) - 12px);
  min-height: 230px;
}

.news-cards-wrapper .news-image-wrapper {
  width: 100%;
  height: 167px;
  object-fit: cover;
  text-align: center;
  overflow: hidden
}

.news-cards-wrapper img.news-image {
  height: 100%;
}

.news-cards-wrapper p.news-title {
  margin: 8px 0 0 0;
  color: $color-black;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-cards-wrapper p.news-description {
  margin: 0;
  color: $color-grey;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: map-get($grid-breakpoints, "lg")) {
  .news-cards-wrapper .news-card:nth-child(4n) { margin-right: 16px; }
  .news-cards-wrapper .news-card:nth-child(3n) { margin-right: 0px; }
  .news-cards-wrapper .news-card {
    width: calc(100% * (1/3) - 10.5px);
    margin-right: 15px;
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .news-cards-wrapper .news-card:nth-child(4n) { margin-right: 0px; }
  .news-cards-wrapper .news-card:nth-child(3n) { margin-right: 0px; }
  .news-cards-wrapper .news-card {
    width: 100%;
    margin-right: 0px;
  }
}
